._editBtn._editBtn {
  --color2: var(--active-color) !important;
  // --color2: currentColor !important;

  svg {
    width: 1.2em !important;
    height: 1.2em !important;
  }
}

.u-warning {
  border-radius: 0;
  background-color: var(--bg-color);
}

.u-button {
  text-transform: initial;
  font-size: var(--sl-font-size-small);
  // font-weight: 400;
  font-weight: 500;

  &.is--active.is--active {
    // outline: 0;
    // color: var(--r-500);
    color: var(--g-900);
    background-color: var(--g-200);
    box-shadow: none;
  }
}

.u-button_icon {
  border-radius: 8px;
}

.u-button_outline {
  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      border-color: transparent;
    }
  }
}

.u-button[disabled] {
  // background-color: var(--c-gris);
  // filter: none;
  color: var(--c-gris);
}

._reorderedList--item {
  background-color: transparent !important;
}

.u-button_pill {
  border-radius: var(--input-border-radius);
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 1);
}

.u-button_transparent {
  &.is--active {
    background-color: var(--g-200);
    outline-color: var(--g-500);
  }
}

label,
.u-label {
  // font-weight: 500;
  font-size: var(--sl-font-size-medium);
  font-family: var(--sl-font-sans);
}

.u-displayAsPublic {
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  > * {
    padding: calc(var(--spacing) / 4);
    background-color: var(--h-500);
    margin-left: calc(var(--spacing) / 2);
  }
}

input[type="checkbox"] {
  border-width: 1px;
  background-color: white;
}

details {
  summary {
    cursor: pointer;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 34px;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  // Webkit (Chrome, Safari, Edge)
  &::-webkit-slider-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #808080;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4.5px;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
    margin-top: calc((34px - 3px) / 2);
  }

  // Firefox
  &::-moz-range-track {
    width: 100%;
    height: 3px;
    background: #808080;
    border: none;
    border-radius: 0;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #808080;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
  }

  &::-moz-range-progress {
    background: #808080;
    height: 3px;
  }

  // Focus states
  &:focus {
    outline: none;
  }

  &:focus-visible::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.2);
  }

  &:focus-visible::-moz-range-thumb {
    box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.2);
  }

  &:hover {
    &::-webkit-slider-thumb {
      background: var(--active-color);
      border-color: var(--active-color);
    }
    &::-moz-range-thumb {
      background: var(--active-color);
      border-color: var(--active-color);
    }
  }
}
